body {
	background-color: #feffff;
}

.clock {
	background-color: #daad86;
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
	position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -10rem;

}

.clock-face {
	background-color: #98dafc;
	z-index: 1;
    border-radius: 50%;
    width: 78%;
    height: 78%;
    position: absolute;
    top: 9%;
    left: 9%;
    padding: 2%;
}

.hand {
	background-color: #312c32;
	width: 50%;
    height: 3px;
    z-index: 2;
    position: absolute;
    top: 50%;
}